<dl>
    <dt>Project [{{record.name}}]: </dt>
    <dd>{{record.title}}</dd>
    <dd>{{record.description}}</dd>
<dl>
<ul>
{% for item in project.folder.elements %}
<li>
{{ item.name}} : {{item.summary }} 
</li>
{% endfor %}
</ul>
