<% content_for :sidemenu do%>
  <%= render :partial => 'menu'%>
<% end %>

<% content_for :right do%>
  <%= render :partial => 'help'%>
<% end %>

<% content_for :messages do %>
    <%= error_messages_for 'state' %>
<% end %>

<% content_for :center do %>
<%= render :partial => 'header'%>
<h2 class='icon icon-status'>
  <%=l(:State_Edit)%>
  [<%=@state.name%>]
</h2>

  <div class="panel">
  <% form_tag({:action => 'update',:id=>@state.id}, :class => "tabular") do %>
    <%= render :partial=>'form'  %>
    <div class="row">
        <%= submit_tag l(:Save) %>
        <%= link_to l(:Cancel), state_url(:action => 'list')%>
    </div>
  <% end %>
  </div>
<% end %>
