<% content_for :sidemenu do %>
<%= render :partial => 'menu' %>
<% end %>

<% content_for :right do %>
<%= render :partial => 'help' %>
<% end %>

<% content_for :messages do -%>
<%=render :partial =>'shared/messages',:locals => { :objects => ['state'] } %>
<% end -%>


<% content_for :center do %>
<%= render :partial => 'header' %>
    <h2><%=l(:Scheduled) %>
        <%=l(:States) %>
    </h2>
    <div class='panel'>
        <table class="report">
            <thead>
                <tr>
                    <th>
                        <%=l(:name) %>
                    </th>
                    <th>
                        <%=l(:level) %>
                    </th>
                    <th>
                        <%=l(:cascade)%>
                    </th>
                    <th>
                        <%=l(:signed)%>
                    </th>
                    <th>
                        <%=l(:action) %>
                    </th>
                </tr>
            </thead>
            <tbody>
                <% for state in @states %>
                <tr class="state-level<%= state.level_no %>">
                    <td>
                        <b class="boldnotbold icon icon-status_<%=state.name.downcase%>"><%= link_to state.name, :action => 'edit', :id => state %>
                        </b>
                    </td>
                    <td>
                        <%= state.level_no %>. <%= state.level_text %>
                    </td>
                    <td>
                        <%= state.check_children %>
                    </td>
                    <td>
                        <%= state.signed? %>
                    </td>
                    <td align="center" style="width:10%;">
                        <%= link_to l(:Delete), { :action => 'destroy', :id => state }, :confirm => l(:text_are_you_sure), :class => "icon icon-del" %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <hr /><%= link_to l(:new), {:action => 'new'}, :class => 'icon icon-add' %>
    </div>
<% end %>
